# Hugo files
public/
resources/

# Node.js dependencies
node_modules/

# macOS files
.DS_Store

# Hugo build artifacts
hugo_stats.json

# Temporary files
*.bak
*.swp
*.tmp

# System files
Thumbs.db
Desktop.ini

# Git files
*.orig
*.rej

# Logs
*.log

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other
*.env
*.local
*.lock
*.pid
*.seed
*.pid.lock
*.seed.lock