{
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-organize-imports",
		"prettier-plugin-astro-organize-imports"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"useTabs": true,
	"semi": false,
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"proseWrap": "always"
}
