---
import Heading from "../../components/heading.astro";
import Layout from "../../components/layout.astro";
import UnderConstruction from "../../components/under-construction.astro";
---

<Layout title="mukul's posts">
        <Heading id="post-heading-id">posts</Heading>
    </div>
</Layout>