---
import { getCollection } from "astro:content";
import Layout from "../../components/layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const photos = await getCollection("photos");

  const paths = Object.values(photos).map((p) => {
    return {
      params: {
        id: p.id,
      },
      props: {
        p,
      },
    };
  });

  return paths;
}
const { p } = Astro.props;
---
<Layout title=`photo: ${p.data.description}`>
    <div class="text-center md:my-16 md:mb-32">
        <p class="text-lg my-4 text-center">
        <Image
            src={p.data.img}
            alt={p.data.description}
            class:list={[
              "rounded-lg transition-all",
              "group-hover:shadow-lg group-hover:opacity-90",
              "h-full"
            ]}
          />
        </p>
      </div>
</Layout>