---
import Layout from '../components/layout.astro'
---
<Layout title="Mukul Agarwal's Personal Website">
    <h1 class="font-sans text-xl text-black font-bold">Mukul Agarwal</h1>

    <p>Hello! I'm Mukul Agarwal, a freshman studying Computer Science at Purdue University
in West Lafayette, Indiana! I'm interested in learning more about Programming Languages,
Machine Learning, and the interesection of the two. I'm currently an organizer at
<a href="https://purduehackers.com">Purdue Hackers</a>!</p>

<p>I also write (sometimes) about projects I work on and my thoughts on other people's work
at <a href="/blog">this website's blog</a>.</p>

<p>Please feel free to reach out to me anytime if you'd like to chat at
<span class="font-mono">hello [at] agarmu [dot] com</span>!</p>
</Layout>