---
import Layout from "../components/layout.astro";
import Nav from "../components/nav.astro";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
---

<Layout title="Mukul Agarwal's Personal Website">
    <div class="flex flex-col md:flex-row justify-center items-center">
        <Image
            src={headshot}
            alt="An image of Mukul Agarwal."
            class="rounded-full border-4 border-purple-800 max-w-44 sm:max-w-60 md:max-w-72 "
        />
        <div class="px-1 sm:px-10 bg-inherit">
            <div
                class="flex items-center justify-center md:items-start md:justify-start"
            >
                <h1 id="name-heading"
                    class="text-center font-sans font-bold text-4xl lg:text-7xl md:text-6xl bg-gradient-to-r to-indigo-700 p-3 inline-block text-transparent bg-clip-text from-purple-500"
                >
                    Mukul Agarwal
                </h1>
            </div>
            <div class="text-indigo-800 text-justify text-sm md:text-base lg:text-lg" id="pers-description-div">
                <p class="p-3">
                    Hello! I'm Mukul Agarwal, an undergraduate studying <span
                        class="font-semibold italic"
                        >Computer Science and Mathematics</span
                    > at Purdue University in West Lafayette, Indiana! I'm interested
                    in learning more about
                    <span class="italic"
                        >Programming Languages and Quantum
                        Computing!</span
                    >
                </p>
                <p class="p-2">
                    I also sometimes write <a
                        href="/posts"
                        class="underline hover:text-slate-700 hover:italic"
                        >about projects I work on and random thoughts</a
                    >. Please feel free to reach out to me anytime if you'd like
                    to chat at
                    <span class="underline">hello [at] agarmu [dot] com</span>!
                </p>
            </div>
        </div>
    </div>
    <script>
        const fix_size = (_ignored: Event) => {
            let head = document.getElementById("name-heading")!;
            let tail = document.getElementById("pers-description-div")!;
            tail.style.width = `${head.clientWidth}px`;
        }
        addEventListener("resize", fix_size);
        addEventListener("load", fix_size);
    </script>
</Layout>
