---
import Heading from "../components/heading.astro"
import Layout from "../components/layout.astro"
---

<Layout title="legal & copyright">
	<Heading id="header"> legal & copyright </Heading>
	<div class="flex items-center justify-center w-full">
		<div
			class="mt-3 md:mt-5 prose prose-sm sm:prose-base prose-slate"
			id="body-div"
		>
			<p>
				This website collects limited <span class="italic">non-identifying</span
				> user data including
				<span class="italic font-semibold">browser</span>, <span
					class="italic font-semibold">operating system</span
				>, and <span class="italic font-semibold">country of access</span> using
				<a
					class="underline font-semibold hover:text-slate-500"
					href="https://umami.is/">umami</a
				>. No cookies are in use.
			</p>
			<p>
				The hammer gif used on 'under construction' pages is from the user <a
					class="underline font-semibold hover:text-slate-500"
					href="https://giphy.com/stickers/sapitamusic-transparent-hammer-build-aQsD1oho6qi00r7Ql4"
					>sapitamusic on GIPHY</a
				>. As such it is licensed under <a
					class="underline font-semibold hover:text-slate-500"
					href="https://support.giphy.com/hc/en-us/articles/360020027752-GIPHY-User-Terms-of-Service"
					>GIPHY's terms of service</a
				>.
			</p>
		</div>
	</div>
	<script>
		const fix_size = (_ignored: Event) => {
			let head = document.getElementById("header")!
			let tail = document.getElementById("body-div")!
			tail.style.width = `${head.clientWidth}px`
		}
		addEventListener("resize", fix_size)
		addEventListener("load", fix_size)
	</script>
</Layout>
