---
import fmtDate from "../lib/date"

interface Props {
	data: {
		frontmatter: {
			title: string
			pubDate: string
			editDate?: string
			description: string
			image?: string
			tags?: string[]
			draft: boolean
			readingTime: string
		}
		url: string
	}
}
const { data } = Astro.props
const { title, pubDate, editDate, description, image, tags, draft } =
	data.frontmatter
const isRenderable = import.meta.env.MODE == "development" || !draft
---

{
	isRenderable && (
		<div class="p-2 m-2">
			<div class="text-base md:text-lg font-semibold flex flex-col md:flex-row align-middle text-slate-700">
				{draft && <span class="text text-yellow-700">&lowast;&nbsp;</span>}
				<a class="hover:underline" href={data.url}>
					{" "}
					{title}
				</a>
				<div class="h-full md:border-l-2 md:border-slate-900 mx-2">
					&ZeroWidthSpace;
				</div>
				<span class="text text-slate-400">{fmtDate(new Date(pubDate))}</span>
			</div>
			<div />

			<p class="text-xs md:text-sm pt-2 h-full text-slate-500">
				{description}
				<a class="font-bold text-slate-700 hover:underline" href={data.url}>
					&nbsp;Read&nbsp;>>
				</a>
			</p>
		</div>
	)
}
