---
interface Props {
	id?: string
}
const { id } = Astro.props
---

<div class="flex items-center justify-center w-full">
	<h1
		id={id ?? ""}
		class="text-center font-bold text-4xl lg:text-7xl md:text-6xl sm:text-5xl mx-3 pb-3 inline-block text-slate-700 font-serif"
	>
		<slot />
	</h1>
</div>
