---
import fmtDate from "../lib/date"
import Layout from "./layout.astro"

interface Props {
	frontmatter: {
		title: string
		pubDate: Date
		editDate?: Date
		description: string
		image?: string
		tags?: string[]
		draft: boolean
		readingTime: string
	}
}
const {
	title,
	pubDate,
	editDate,
	description,
	image,
	tags,
	draft,
	readingTime,
} = Astro.props.frontmatter
---

<Layout title=`post: ${title}`>
	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
    crossorigin="anonymous"
	/>

	<div class="flex items-center justify-center w-full pb-10">
		<div
			class="flex flex-col justify-center items-center w-full sm:w-4/5 md:w-3/4 lg:w-2/3 mx-2"
		>
			{
				draft && (
					<p class="text-center text-white bg-orange-600 font-bold text-5xl border-8 border-red-700 p-4 rounded-3xl">
						DRAFT CONTENT
					</p>
				)
			}
			<div
				class="flex w-full pb-1 sm:pb-2 md:pb-3 lg:pb-4 justify-center items-center md:justify-start md:items-start"
			>
				<a
					href="/posts"
					class="text-indigo-700 font-bold hover:underline hover:text-indigo-500 text-xs md:text-sm lg:text-base"
					>&larr; Go back</a
				>
			</div>
			<h1
				id="header"
				class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-bold text-center font-extrabold text-slate-700"
			>
				{title}
			</h1>
			<p
				class="text text-sm sm:text-base lg:text-lg font-semibold text-slate-700"
			>
				{fmtDate(new Date(pubDate))}
				{
					editDate != undefined && (
						<span>(edited {fmtDate(new Date(editDate))})</span>
					)
				}
			</p>
			<p class="text text-xs sm:text-sm lg:text-base text-slate-500">
				This post is a {readingTime}.
			</p>
			<div class="prose prose-sm md:prose-base" id="body-div">
				<slot />
			</div>
		</div>
	</div>
</Layout>
