---
interface Props {
	title: string
}
const { title } = Astro.props
import "@fontsource-variable/crimson-pro"
import "@fontsource-variable/open-sans"
import "@fontsource/courier-prime"
import "../styles/base.css"
import Nav from "./nav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script
			src="https://cloud.umami.is/script.js"
			data-website-id="d2aed3db-cae9-460d-ba9e-64c71cd88381"></script>
		<title>{title}</title>
	</head>
	<body class="bg-slate-200 h-screen">
		<div class="flex flex-col bg-inherit h-full">
			<div class="flex flex-col bg-inherit px-5 max-h-full pb-7 md:pb-10">
				<Nav />
				<slot />
			</div>
		</div>
	</body>
</html>
