<div>
    <nav class="w-full flex items-center justify-end flex-wrap bg-inherit p-6 text-sm md:text-base sm:pr-10">
            <a
                href="/"
                class="block mt-4 sm:inline-block sm:mt-0 text-indigo-600 hover:text-indigo-400 mr-4"
            >
                ~agarmu
            </a>
            <a
                href="/projects"
                class="block mt-4 sm:inline-block sm:mt-0 text-indigo-600 hover:text-indigo-400 mr-4"
            >
                projects
            </a>
            <a
                href="/posts"
                class="block mt-4 sm:inline-block sm:mt-0 text-indigo-600 hover:text-indigo-400"
            >
                posts
            </a>
    </nav>
</div>
