---
import NavItem from "./nav-item.astro"
---

<div>
	<nav
		class="w-full flex items-center justify-center md:justify-end flex-wrap bg-inherit p-6 text-sm md:text-base"
	>
		<NavItem desc="home" url="/" />
		<NavItem desc="posts" url="/posts" />
		<NavItem desc="projects" url="/projects" />
		<NavItem desc="photos" url="/photos" />
		<NavItem desc="notes" url="/notes" />
		<NavItem desc="legal" url="/legal" />
	</nav>
</div>
