---
interface Props {
    id: number,
    minId: number,
    maxId: number
}
const {id, minId, maxId} = Astro.props
---
{
    id == minId || id == maxId ?
    <div class="grid grid-cols-1 w-full items-center">
        {id != minId &&
           <div class="text-center">
            <a class="underline text-slate-700 hover:text-slate-500 hover:font-semibold" href=`/photos/${id-1}`>&larr; Prev</a>
            </div>
          }
          {id != maxId &&
           <div class="text-center">
            <a class="underline text-slate-700 hover:text-slate-500 hover:font-semibold" href=`/photos/${id+1}`>Next &rarr;</a>
            </div>
          }
    </div>
    :
    <div class="grid grid-cols-2 w-full sm:w-1/2 text-xs md:text-sm">
           <div class="text-center">
            <a class="underline text-slate-700 hover:text-slate-500 hover:font-semibold" href=`/photos/${id-1}`>&larr; Prev</a>
            </div>
           <div class="text-center">
            <a class="underline text-slate-700 hover:text-slate-500 hover:font-semibold" href=`/photos/${id+1}`>Next &rarr;</a>
            </div>
        </div>
      </div>

}
