---
interface Props {
    tags: string[];
}
const { tags } = Astro.props;
---

<div
    class="flex flex-row flex-wrap text-xs sm:text-sm md:text-base text-slate-700"
>
    {
        tags.map((tag) => (
            <a href={`/tags/${tag}`}>
                <div class="text-xs mx-1 px-2 my-1 rounded-lg border-2 border-indigo-700 hover:border-indigo-800 hover:bg-indigo-800 font-semibold text-indigo-700 hover:text-indigo-300">
                    {tag}
                </div>
            </a>
        ))
    }
</div>
